*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    #DBDBD3 90%,
    #009788 10%
  );
  font-family:'Lato', sans-serif;
}

.border-dx{
  border-left: 0.5px solid rgb(159, 158, 158);
}

  main{
    display: flex;
    height: 90%;
    min-width: 80%;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    margin: 0 auto;
    border-color: blue;
    display: flex;
    height: 96%;
    width: 80%;
  }
  
  .row-sx{
    width: 35%;
    height: 785px;
  }

  .col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 68px;
    background-color: #EAEAEA;
  }

  .photo{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
  }

  .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #elements{
    margin-right: 10px;
    color: #B1B1B1;
    font-size: 1.2rem;
  }

  #elements .fa-solid{
    margin: 5px;
  }

  .col-notifiche{
    display: flex;
    align-items: center;
    width: 100%;
    height: 78px;
    background-color: #8EDAFC;
  }

  .bell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .bell i{
    font-size: 23px;
    color: #8EDAFC;
  }

  .notification{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    justify-content: center;
    margin-left: 10px;
  }
  .notification p{
    font-size: 15px;
  }

  .searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #EAEAEA;
    border-bottom: 0.01px solid #B1B1B1;
  }

  .searchbar input{
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 95%;
    color: #ABABAB;
    padding-left: 15px;
    border-radius: 2px;
    border: 0;
    
  }

  .chat{
    overflow-y: auto;
    height: 92.15686274509804vh;
  }

  .utente{
    display: flex;
    align-items: center;
    width: 100%;
    height: 77px;
    background-color: #FFF;
    border-bottom: 0.01px solid #B1B1B1;
  }

  .font-xs-time{
    font-size: 12px;
    color:#C0C3C5;
  }

  .name{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin-left: 10px;
  }


/* CHAT grande  */
  .row-dx{
    display: flex;
    flex-direction: column;
    background-image: url(/img/mine.jpg);
    width: 65%;
    height: 625px;
  }

  .col-dx{
    display: flex;
    align-items: center;
    width: 100%;
    height: 68px;
    background-color: #EAEAEA;
  }

  .col-chat-dx{
    overflow-y: auto;
  }

  .col-dx p{
    margin-left: 10px;
  }

  .message-sent{
    max-width: 55%;
    height: 130px ;
    background-color: #D5F9BA ;
    border-radius: 15px;
    margin-left: 220px;
    margin-top: 48px ;
  }

  .message-sent p{
    font-size: 13px;
    padding: 15px;
    line-height: 17px;
  }

  .message-received p{
    font-size: 13px;
    padding: 15px;
    line-height: 17px;
  }

  .message-received{
    max-width: 55%;
    height: 130px ;
    background-color: #fff ;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 10px;
  }

  .user-name{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    justify-content: center;
  }

  .font-xs{
    font-size: 12px;
    color:#646D71;
  }

  .col-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    width: 100%;
    height: 64px;
    background-color: #F3EEEA;
    
  }

  .col-bottom input{
    height: 80%;
    width: 80%;
    color: #ABABAB;
    padding-left: 15px;
    border-radius: 2px;
    border: 0;
  }

  .col-bottom i{
    font-size: 25px;
    color: #556166;
  }

  .fa-microphone{
    margin-right: 10px;
  }

  .fa-face-smile{
    margin-left: 10px;
  }

  /* /DEKSTOP */

  /* tablet */

  @media screen and (max-width: 991px){

    .user-name, .name , .font-xs{
      display: none;
    }

    .row-sx{
      width: 8%;
      height: 100%;
    }

    .row-dx{
      width: 90%;
      height:785px;
    }


    .utente{
      width: 75px;
    }

    .chat{
      overflow-y: scroll;
      min-width: 65px;
      min-height: 89%;
    }

    .searchbar{
      display: none;
    }

    .col-notifiche{
      display: none;
    }

    .col{
      width: 75px;
    }

    #elements{
      display: none;
    }
  }
  

/* mobile */

