*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    #DBDBD3 90%,
    #009788 10%
  );
  font-family:'Lato', sans-serif;
}

.underline{
  text-decoration: underline;
}

.border-dx{
  border-left: 0.5px solid rgb(159, 158, 158);
}

/* dekstop */
@media screen and (min-width:992px){
  main{
    margin: 0 auto;
    display: flex;
    height: 766px;
    min-width: 992px;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    display: flex;
    height: 93%;
    width: 80%;
  }
  
  .row-sx{
    width: 35%;
    height: 100%;
  }

  .col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 68px;
    background-color: #EAEAEA;
  }

  .photo{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
  }

  .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #elements{
    margin-right: 10px;
    color: #B1B1B1;
  }

  #elements .fa-solid{
    margin: 5px;
  }

  .col-notifiche{
    display: flex;
    align-items: center;
    width: 100%;
    height: 78px;
    background-color: #8EDAFC;
  }

  .bell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .bell i{
    font-size: 23px;
    color: #8EDAFC;
  }

  .col-notifiche p{
    font-size: 13px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #EAEAEA;
    border: 1px solid black;
  }

  .chat{
    overflow: auto;
    height: 51.8vh ;
  }

html::-webkit-scrollbar{
    width: 20px;

  }

  .utente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    height: 68px;
    background-color: #EAEAEA;
    border: 1px solid black;
  }



  
}





/* CHAT grande  */
  .row-dx{
    background-color: rgb(146, 232, 200);
    width: 65%;
    height: 100%;
  }
}